/* You can add global styles to this file, and also import other style files */
/* body{
  background-color: rgb(41, 38, 38);
} */

body{
  background: url(https://i.gifer.com/H3qP.gif);
}
.texto1{
  font-size: 40px;
}